<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tasks" href="/tasks">
        <ion-icon name="leaf"></ion-icon>
        <ion-label>Mis Tareas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" href="/map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa Verde</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" href="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-app>